.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #d36c43;
}
.footer {
  height: 100%;
  width: 100%;
}
.header {
  height: 30%;
  width: 100%;
  position: absolute;
  top: 0;
}
.splite {
  /* height: 5px; */
  font-size: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.line {
  width: 38%;
  background: url("../images/split.png") repeat-x left center;
  background-size: 4px 10px;
}
.input {
  margin-right: 0 20px 0 0;
}
