.time-box {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 5px;
  right: 10px;
}

.an-time {
  height: 40px;
  background: url("../images/loading.png") no-repeat center;
  background-size: 80% 80%;
  font-size: 14px;
  -webkit-animation: clockwise 1000ms linear infinite;
  animation: clockwise 1000ms linear infinite;
}

@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-140deg);
  }
  100% {
    -webkit-transform: rotate(0);
  }
}
@keyframes donut-rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-140deg);
  }
  100% {
    transform: rotate(0);
  }
}

#timenum {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  top: 0;
  left: 0;
}

.main {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  width: 100%;
  height: 20%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5%;
  z-index: 999999;
}
.btn {
  padding: 0.1rem 0.2rem;
  font-size: 0.2rem;
  color: #fff;
  border: none;
  background-color: transparent;
  box-shadow: 4px 4px 12px #fff;
  border-radius: 5px;
}

.btn:focus {
  border-color: #f15832;
  color: #f15832;
}

.content {
  height: 60%;
  width: 100%;
  font-size: 2em;
  padding: 15px;
  position: absolute;
  z-index: 999999;
  left: 0;
  top: 20%;
}

.title {
  font-size: 3em;
  height: 35px;
  line-height: 35px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100% - 35px);
}

.tishi {
  width: 100%;
  font-size: 2em;
  height: 25px;
  line-height: 25px;
  color: red;
  text-align: center;
}

.header-title {
  font-size: 0.6rem;
  color: #fff;
}

.image-info {
  width: 100%;
  background: url("../images/user.png") no-repeat center top;
  background-size: auto 100%;
  height: calc(100% - 25px);
}

.check {
  position: absolute;
  z-index: 9999999;
  bottom: 0;
  left: 0;
  height: 20%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.mid {
  width: 20%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mid img {
  width: 80%;
}
.mid .input-box {
  position: absolute;
  left: 110%;
}

.mid .input-box input {
  width: 4rem;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.4rem;
  border-radius: 0.05rem;
  padding: .1rem .2rem;
}

.input {
  border: 1px solid #414040;
  height: 2em;
  line-height: 2em;
  font-size: 2em;
  border-radius: 5px;
  width: 300px;
  padding: 5px 12px;
}

.info-box {
  /* width: 90%; */
  display: flex;
  flex-flow: column;
  padding: 0.15rem 0;
  height: 1.6rem;
  align-items: stretch;
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 2px 2px 4px #fff;
  margin-top: 0.1rem;
}
.info-box .row {
  display: flex;
  color: #fff;
  height: 50%;
  justify-content: center;
  align-items: flex-start;
}

.info-box .row .row-title {
  color: #f15832;
  width: 15%;
}

.info-box .row .row-num {
  width: 15%;
}

.info-content {
  position: absolute;
  z-index: 999999;
  width: 100%;
  top: 20%;
  padding: 0 10%;
  height: 80%;
  overflow-y: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}

.plane-info {
  height: 50px;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  color: #f15d30;
  text-align: center;
}

.plane-number,
.plane-date,
.plane-type {
  flex: 1;
  display: flex;
  text-align: center;
  justify-content: center;
}
.plane-time {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.info-time,
.info-icon,
.info-name {
  flex: 1;
  display: flex;
  justify-content: center;
}

.check-out {
  position: absolute;
  z-index: 9999999;
  bottom: 0;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.name-box {
  font-size: 0.4rem;
  color: #fff;
}
.id-box {
  font-size: 0.3rem;
  color: #fff;
  padding-top: 1%;
}

.up {
  padding: 5px 10px;
  width: 140px;
  margin-right: 80px;
}
#card {
  display: block;
  width: 200px;
}

.card-box {
  display: flex;
  width: 20%;
  justify-content: flex-start;
  margin-right: 40px;
  white-space: nowrap;
}

.cardinfo-box {
  width: 80%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

#box-typeinfo {
  display: none;
  position: fixed;
  text-align: center;
  left: 9%;
  top: 18%;
  z-index: 99999999;
  width: 82%;
  height: 65%;
  border: 0.02rem solid #f15832;
  box-shadow: 0.02rem 0.02rem 0.1rem #f15832;
  border-radius: 0.05rem;
  background-color: rgba(255, 255, 255, 1);
}

.active {
  visibility: hidden;
}

#infoBox {
  color: #f15832;
  font-size: 0.7rem;
}
#box-typeinfo.dis {
  display: flex;
  justify-content: center;
  align-items: center;
}
