
UNKNOWN {
	LINE-HEIGHT: 14pt; FONT-FAMILY: arial; FONT-SIZE: 9pt
}
.v10 {
	LINE-HEIGHT: 14pt; FONT-SIZE: 10.5pt
}
.v15 {
	LINE-HEIGHT: 14pt; FONT-SIZE: 9pt
}
.v9 {
	LINE-HEIGHT: 14pt; COLOR: #242ac3; FONT-SIZE: 9pt
}
.v15a {
	LINE-HEIGHT: 0pt; FONT-SIZE: 9pt
}
.v20 {
	LINE-HEIGHT: 14pt; FONT-SIZE: 12pt
}
A.b6:link {
	COLOR: #0000ff; FONT-SIZE: 9pt; TEXT-DECORATION: underline
}
A.b6:visited {
	COLOR: #0000ff; FONT-SIZE: 9pt; TEXT-DECORATION: underline
}
A.b6:active {
	COLOR: #0000ff; FONT-SIZE: 9pt; TEXT-DECORATION: underline
}
A.b6:hover {
	COLOR: #0000ff; FONT-SIZE: 9pt; TEXT-DECORATION: underline
}
A.b5:link {
	COLOR: #0000cc; FONT-SIZE: 9pt
}
A.b5:visited {
	COLOR: #0000ff; FONT-SIZE: 9pt
}
A.b5:active {
	COLOR: #0000cc; FONT-SIZE: 9pt
}
A.b5:hover {
	COLOR: #990033; FONT-SIZE: 9pt
}
A.b4:link {
	COLOR: #808080; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A.b4:visited {
	COLOR: #808080; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A.b4:active {
	COLOR: #808080; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A.b4:hover {
	COLOR: #ff8000; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A.b3:link {
	COLOR: #ffffff; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A.b3:visited {
	COLOR: #ffffff; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A.b3:active {
	COLOR: #ffffff; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A.b3:hover {
	COLOR: #ccffcc; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A.b2:link {
	COLOR: #ffffff; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A.b2:visited {
	COLOR: #ffffff; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A.b2:active {
	COLOR: #ffffff; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A.b2:hover {
	COLOR: #ffffff; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A.b1:link {
	COLOR: #ffffff; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
A.b1:visited {
	COLOR: #ffffff; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
A.b1:active {
	COLOR: #ffffff; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
A.b1:hover {
	COLOR: #06a2f3; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
A.b:link {
	COLOR: #000000; FONT-SIZE: 11pt; TEXT-DECORATION: none
}
A.b:visited {
	COLOR: #636363; FONT-SIZE: 11pt; TEXT-DECORATION: none
}
A.b:active {
	COLOR: #ff0000; FONT-SIZE: 11pt; TEXT-DECORATION: none
}
A.b:hover {
	COLOR: #4340e7; FONT-SIZE: 11pt; TEXT-DECORATION: none
}
A.e:link {
	COLOR: #000000; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
A.e:visited {
	COLOR: #000000; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
A.e:active {
	COLOR: #000000; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
A.e:hover {
	COLOR: #4340e7; FONT-SIZE: 10pt; TEXT-DECORATION: underline
}
A.d:visited {
	COLOR: #339eb9; FONT-SIZE: 9pt; TEXT-DECORATION: underline
}
A.d:active {
	COLOR: #339eb9; FONT-SIZE: 9pt; TEXT-DECORATION: underline
}
A.d:hover {
	COLOR: #339eb9; FONT-SIZE: 9pt; TEXT-DECORATION: underline
}
A.d:link {
	COLOR: #339eb9; FONT-SIZE: 9pt; TEXT-DECORATION: underline
}
A.d1:visited {
	COLOR: #80ffff; FONT-SIZE: 9pt; TEXT-DECORATION: underline
}
A.d1:active {
	COLOR: #80ffff; FONT-SIZE: 9pt; TEXT-DECORATION: underline
}
A.d1:hover {
	COLOR: #80ffff; FONT-SIZE: 9pt; TEXT-DECORATION: underline
}
A.d1:link {
	COLOR: #80ffff; FONT-SIZE: 9pt; TEXT-DECORATION: underline
}
A:link {
	COLOR: #000000; FONT-SIZE: 11pt; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; FONT-SIZE: 11pt; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; FONT-SIZE: 11pt; TEXT-DECORATION: none
}
A:hover {
	COLOR: #4340e7; FONT-SIZE: 11pt; TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
P {
	TEXT-INDENT: 0.3in; FONT-SIZE: 9pt
}
H3 {
	COLOR: #0000cc; FONT-SIZE: 16px
}
TD {
	FONT-SIZE: 10pt
}
TR {
	PADDING-BOTTOM: 5px; MARGIN-BOTTOM: 1px; PADDING-TOP: 5px
}
INPUT {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; BACKGROUND-COLOR: #daf4fe; WIDTH: 100%; COLOR: blue; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: underline
}
INPUT_bk {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND-COLOR: moccasin; WIDTH: 100%; BORDER-TOP: medium none; BORDER-RIGHT: medium none; TEXT-DECORATION: underline
}
.t1 {
	TEXT-ALIGN: center; FONT-FAMILY: 宋体; COLOR: black; FONT-SIZE: 12pt; TEXT-DECORATION: underline
}
.MUSTINPUT {
	BACKGROUND-COLOR: #daf4fe
}
TEXTAREA {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND-COLOR: #daf4fe; WIDTH: 100%; COLOR: blue; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
SELECT {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; BACKGROUND-COLOR: #daf4fe; WIDTH: 100%; COLOR: blue; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.RECORDSET {
	BACKGROUND-COLOR: #daf4fe;
	
}

 